/* 메인 화면 css (Main Screen css) */


*{
    box-sizing: border-box;
    margin: 0px;
}


/* 배경화면 (background) */
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: darkgreen;
    display: flex;
    color:yellow
    
  
}

/* 에밀리 글자 설정 (Emily text size) */
.name {
    font-size: 30px;
}


/* 로그인, 회원가입, 언어설정 아이콘 (login,  signup, change language icon) */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 10px;    
    right: 10px;

    width: 100px;
    height: 20px;
    font-size: 1px;
}


/* 로그인, 회원가입 글자 굵기 설정 (login, signup text boldness) */
.login, .signup{
    font-weight: bold;
}


/*로그인, 회원가입, 언어설정에 마우스 놓았을때 (When mouse is hovered over login,signup, language settings)*/
.login:hover,.signup:hover,#globe:hover
{
    color :white;
}





